<div class="container overview-content">
  <div class="row">
    <div class="col order-last mt-4 title-big">
      Debtor Document
    </div>
  </div>

  <div class="row box-search">
      <div class="form-group col-md-6">
      <label for="inputEmail4">File name</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="File name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Datetime</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Datetime">
    </div>
    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-secondary pull-right">Search</button>
        </div>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">File name</th>
        <th scope="col">File extension</th>
        <th scope="col">Import datetime</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
            <button class="btn-action btn-download mr-1" type="button" name="button">A</button>
            <button class="btn-action btn-view mr-1" type="button" name="button">A</button>
            <button class="btn-action btn-delete" type="button" name="button">A</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>
